
body {
  background-color: light-grey;
  width: 100%;
}

.container {
  display: grid;
  grid-gap: 40px;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.feature {
  padding: 10px;
  margin: 10px;
}

.feature h1.feature-title {
  text-align: center;
}

.feature p.feature-detail {
  font-size: 18px;
  padding-left: 30px;
  padding-right: 30px;
}

.headline h1 {
  font-size: 70px;
  text-align: center;
  padding: 15px;
  line-height: 150%;
}

.headline h2 {
  font-size: 30px;
  text-align: center;
  padding: 15px;
  margin-bottom: 120px;
}

.mission p {
  font-size: 16px;
}

hr.fancy-line { 
    border: 0; 
    height: 1px;
}
hr.fancy-line:before {
    top: -0.5em;
    height: 1em;
}
hr.fancy-line:after {
    content:'';
    height: 0.5em;
    top: 1px;
}

hr.fancy-line:before, hr.fancy-line:after {
    content: '';
     width: 100%; 
}

hr.fancy-line, hr.fancy-line:before {
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}

body, hr.fancy-line:after {
    background: #f4f4f4;
}

.feature .fa {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
}

img {
  width: 20%;
} 

.eth-icon {
  padding-top: 120px;
  text-align: center;
}