
body {
  background-color: #0a0a0a;
  width: 100%;
}

.home {
  background-color: #0a0a0a;
  display: grid;
  grid-gap: 0px;
}

.headline {
  background-color: #0a0a0a;
  color: #cccccc;
  padding-top: 100px;
  padding-bottom: 150px;
}

.headline h1 {
  font-size: 36px;
  text-align: center;
  padding: 80px;
  line-height: 150%;
}

.headline h2 {
  font-size: 30px;
  text-align: center;
  padding: 15px;
  margin-bottom: 120px;
}

.subhead {
  background-color: #ececec;
}

.subhead h1 {
  padding: 10px;
   padding-top: 50px;
}

.eth-icon {
  padding-top: 100px;
  text-align: center;
}

.subhead .quick-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding-bottom: 100px;
}

.subhead h1 {
  /* text-align: center; */
  padding-left: 60px;
}

.subhead hr {
  border-top-color: #0a0a0a;
  margin: 10px;
}

.subhead .about {
  font-size: 22px;
  padding: 20px;
  padding-left: 80px;
  line-height: 2;
}
.subhead .next-steps {
  font-size: 22px;
  padding: 20px;
  padding-right: 60px;
  line-height: 2;
}

.features {
  background-color: #cccccc;
  padding-bottom: 150px;
}

.features h1.title {
  text-align: center;
  font-size: 50px;
  padding: 70px;
}

.features-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.feature {
  padding: 10px;
}

.feature h1.feature-title {
  text-align: center;
  font-size: 30px;
}

.feature p.feature-detail {
  font-size: 22px;
  padding-left: 30px;
  padding-right: 30px;
}

.feature .fa {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
}

img {
  width: 20%;
} 

.mission {
  background-color: #ebebeb;
}

.mission .mission-title {
  text-align: center;
}

.mission .mission-detail { 
  margin: 0 auto;
  width: 60%;
}

.mission p {
  font-size: 22px;
}

.mission hr {
  border-top-color: #0a0a0a;
  margin: 0 auto;
  padding: 10px;
  width: 70%
}

.home-buttons {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.home-buttons button {
  margin: 15px;
  padding: 13px;
  background-color: #7fbb7f;
  color: #141414;
  border: none;
  border-radius: 4px;
  font-size: 18px;
}

.home-buttons button:hover {
  background-color: #b2d6b2;
  color: #323232;
}

hr.fancy-line { 
    border: 0; 
    height: 1px;
}
hr.fancy-line:before {
    top: -0.5em;
    height: 1em;
}
hr.fancy-line:after {
    content:'';
    height: 0.5em;
    top: 1px;
}

hr.fancy-line:before, hr.fancy-line:after {
    content: '';
     width: 100%; 
}

hr.fancy-line, hr.fancy-line:before {
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}

body, hr.fancy-line:after {
    background: #f4f4f4;
}
