
body {
  background-color: #0a0a0a;
  width: 100%;
}

.home {
  background-color: #0a0a0a;
  display: grid;
  grid-gap: 0px;
}

.headline {
  background-color: #0a0a0a;
  color: #cccccc;
  padding-top: 100px;
  padding-bottom: 150px;
}

.headline h1 {
  font-size: 36px;
  text-align: center;
  padding: 80px;
  line-height: 150%;
}

.headline h2 {
  font-size: 30px;
  text-align: center;
  padding: 15px;
  margin-bottom: 120px;
}

.subhead {
  background-color: #ececec;
}

.subhead h1 {
  padding: 10px;
   padding-top: 50px;
}

.eth-icon {
  padding-top: 100px;
  text-align: center;
}

.subhead .quick-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding-bottom: 100px;
}

.subhead h1 {
  /* text-align: center; */
  padding-left: 60px;
}

.subhead hr {
  border-top-color: slategray;
  margin: 10px;
}

.subhead .about {
  font-size: 22px;
  padding: 20px;
  padding-left: 80px;
  line-height: 2;
}
.subhead .next-steps {
  font-size: 22px;
  padding: 20px;
  padding-right: 60px;
  line-height: 2;
}

.features {
  background-color: #cccccc;
  padding-bottom: 150px;
}

.features h1.title {
  text-align: center;
  font-size: 50px;
  padding: 70px;
}

.features-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.feature {
  padding: 10px;
}

.feature h1.feature-title {
  text-align: center;
  font-size: 30px;
}

.feature p.feature-detail {
  font-size: 22px;
  padding-left: 30px;
  padding-right: 30px;
}

.feature .fa {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  color: #657382;
}

img {
  width: 20%;
} 

.mission {
  /* background-color: #ebebeb; */
  background-color: #f6f6f6;
}

.mission .mission-title {
  text-align: center;
}

.mission .mission-detail { 
  margin: 0 auto;
  width: 60%;
}

.mission p {
  text-indent: 40px;
  font-size: 22px;
}

.mission hr {
  border-top-color: #0a0a0a;
  margin: 0 auto;
  padding: 10px;
  width: 70%
}

.home-buttons {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.home-buttons button {
  margin: 15px;
  padding: 13px;
  background-color: #7fbb7f;
  /* color: #141414; */
  color: white; 
  letter-spacing: .5px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
}

#home a:hover {
  text-decoration: none;
}

/* #home-button1 a:hover {
  text-decoration: none;
}

#home-button2 a:hover {
  text-decoration: none;
} */

#home .home-buttons button:hover {
  background-color: #b2d6b2;
  text-decoration: none;
  color: white;
  box-shadow: 5px 5px 3px 0 rgba(0,0,0,0.24), 7px 7px 15px 0 rgba(0,0,0,0.19);
}

.home-buttons button:active {
  background-color: #cce4cc;
  outline: none;
}

hr.fancy-line { 
    border: 0; 
    height: 1px;
}
hr.fancy-line:before {
    top: -0.5em;
    height: 1em;
}
hr.fancy-line:after {
    content:'';
    height: 0.5em;
    top: 1px;
}

hr.fancy-line:before, hr.fancy-line:after {
    content: '';
     width: 100%; 
}

hr.fancy-line, hr.fancy-line:before {
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}

body, hr.fancy-line:after {
    background: #f4f4f4;
}