$color: slategrey;
$speed: 10;

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.d-logo {
  height: 300px; 
  width: 200px; 
  position: relative;
  order: 0;
}

.logo h1.title {
  font-size: 110px;
  font-weight: 300;
  order: 1;
  font-family: 'Ubuntu', sans-serif;
}

h1.logo-detail {
  font-weight: 300;
  letter-spacing: 1px;
}

.side {
  position: absolute;
  left: 40px;
  top: 45px;
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 120px solid #ccc;
  transform-origin: 50% 0%;
  animation: spin $speed+s infinite linear;
}

.side-bottom {
  position: absolute;
  left: 40px;
  top: 145px;
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 120px solid #ccc;
  transform-origin: 50% 100%;
  animation: spin-bottom $speed+s infinite linear;
}

.back {
  animation-delay: -($speed/2) + s;
}

.right {
  animation-delay: -($speed/4) + s;
}

.left {
  animation-delay: -($speed * 0.75) + s;
}

.back-bottom {
  animation-delay: -($speed/2) + s;
}

.right-bottom {
  animation-delay: -($speed/4) + s;
}

.left-bottom {
  animation-delay: -($speed * 0.75) + s;
}

@keyframes spin-bottom {
  0% {
    transform: rotateY(0deg) rotateX(-30deg);
    border-top-color: lighten($color, 5%);
  }
  25% {
    transform: rotateY(90deg) rotateX(-30deg);
    border-top-color: lighten($color, 25%);
    opacity: 1;
  }
  25.1% {
    opacity: 0;
  }
  50% {
    transform: rotateY(180deg) rotateX(-30deg);
    border-top-color: darken($color, 12%);
  }
  74.9% {
    opacity: 0;
  }
  75% {
    transform: rotateY(270deg) rotateX(-30deg);
    border-top-color: darken($color, 15%);
    opacity: 1;
  }
  100% {
    transform: rotateY(360deg) rotateX(-30deg);
    border-top-color: lighten($color, 5%);
  }
}

@keyframes spin {
  0% {
    transform: rotateY(0deg) rotateX(30deg);
    border-bottom-color: lighten($color, 5%);
  }
  25% {
    transform: rotateY(90deg) rotateX(30deg);
    border-bottom-color: lighten($color, 25%);
    opacity: 1;
  }
  25.1% {
    opacity: 0;
  }
  50% {
    transform: rotateY(180deg) rotateX(30deg);
    border-bottom-color: darken($color, 12%);
  }
  74.9% {
    opacity: 0;
  }
  75% {
    transform: rotateY(270deg) rotateX(30deg);
    border-bottom-color: darken($color, 15%);
    opacity: 1;
  }
  100% {
    transform: rotateY(360deg) rotateX(30deg);
    border-bottom-color: lighten($color, 5%);
  }
}