.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* grid-template-columns: repeat(6, 1fr);
  grid-gap: 2px; */
  text-align: center;
  padding: 15px;
  background-color:#f6f6f6;
}

.fixed-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.footer p {
  color: slategrey;
}

.footer a {
  color: slategray;
}

.footer a:hover {
  color: #b2d6b2;
}

.footer a:active {
  color: #323232;
  outline: none;
}

.vertical-divider {
    color: slategray; 
}

.footer-content {
  /* text-align: center; */
  margin: 0px;
  padding: 8px;
}

body {
  position: relative; 
  margin: 0;
  /* padding-bottom: 66px; */
  min-height: 100%;
}