@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

body p, li {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

body h1 {
	font-family: 'Lato', sans-serif;
}

#contributing{
	padding-top: 61px;
	padding-bottom: 66px;
}

#about{
	padding-top: 61px;
	padding-bottom: 66px;
}

#home{
	padding-top: 61px;
	padding-bottom: 66px;
}

#pool-info{
	padding-top: 61px;
	padding-bottom: 66px;
}

#admin{
	padding-top: 61px;
	padding-bottom: 66px;
}

#contact{
	padding-top: 100px;
	padding-bottom: 66px;
}

#approval{
	padding-top: 100px;
	padding-bottom: 66px;
}

#documentation{
	padding-top: 61px;
	padding-bottom: 66px;
  width: 80%;
  margin: 0 auto;
}

.top-of-page {
	padding-top: 61px;
	padding-bottom: 66px;
}

  /* .smart-contract{
  background-color:white !important;
}   */

 .button {
	background: rgb(247,249,250);
	background: -moz-linear-gradient(top,  rgba(247,249,250,1) 0%, rgba(240,240,240,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
	background: -o-linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
	background: -ms-linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
	background: linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f9fa', endColorstr='#f0f0f0',GradientType=0 );
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	-ms-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	-o-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	border-top: 1px solid #CFD5D9;
  padding: 15px 0;
} 
 .button a {
	background: url(https://cssdeck.com/uploads/media/items/8/8bcLQqF.png) 0 -112px no-repeat;
	color: #7E7E7E;
	font-size: 17px;
	padding: 2px 0 2px 40px;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
/* .button a:hover {
	background-position: 0 -135px;
	color: #00aeef;
}  */

.donation {
  text-align: center;
}