/* .admin {
  display: flex;
  flex-direction: row;
  align-items: center;
} */

.navbar {
  width: 200px;
}
.view {
  display: flex;
  flex:1;
  flex-direction: column;
  padding-left: 30px;
  justify-content: flex-start;
  align-items: center;
  height: 432px;
}
#admin {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
}
