/* .admin {
  display: flex;
  flex-direction: row;
  align-items: center;
} */

.navbar {
  width: 200px;
  padding-top: 40px;
}
.view {
  display: flex;
  flex:1;
  flex-direction: column;
  padding-left: 30px;
  justify-content: flex-start;
  align-items: center;
  height: 432px;
}

.view h1 {
  padding: 20px;
}
#admin {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
