/* #graph {
  display: flex;
  justify-content: center;
} */

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding-top: 130px;
  padding-bottom: 110px;
  width: 90%;
  margin: 0 auto;
}

.graph-detail {
  padding: 0 5px 30px 5px;
  color: #cecece;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: .5px;
}

.graph-detail a {
  display: inline;
  white-space: nowrap;
  clear: none;
}
 
.graph-detail h1 {
  margin-top: 0px;
  font-size: 42px;
  padding-bottom: 5px;
} 

.graph-col {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
   width: 80%; 
  display: inline-block;
}

.y-axis-col {
  display: inline-block;
}

.graph-labels {
  display: flex;
  align-items: center; 
  /*  justify-content: center;   
  /* white-space: nowrap;
  width: auto !important;
  min-width: 100px; */
}

.graph-labels p.title{
  text-align: center;
  font-size: 18px;
  color: #cecece;
  font-weight: 300;
  padding-bottom: 2px;
}

.graph-labels p.detail{
  text-align: center;
  font-size: 14px;
  color: #cecece;
  font-weight: 300;
}

.graph-labels .y-axis{
  padding-left: 15px;
}

.label {
  line-height: 1;
}

.invisible {
  visibility: hidden;
}