 .page-anchors {
  display: flex;
  justify-content: center; 
  /* margin: 0 0 0 325px;    */
  font-size: 16px;
  flex-direction: row;
  align-items: center;
  padding:  40px;
}  

div.anchor-containers{ 
  /* margin-right: -264px;  */
  justify-content: center;
  text-align: right;
  margin-right: 40px;
}

div.verification-containers{
  justify-content: center;
  text-align: left;
  margin-left: 40px;
}

img.down-arw-swab {
  width: 5%;
  /* margin-left: 47px; */
  display: block;
  /* margin: 0 auto; */
  float: right;
  margin-right: 60px;
  margin-top: 5px;
}

img.down-arw-verification {
  width: 5%;
  /* margin-left: 47px; */
  display: block;
  left: 0;
  margin-left: 48px; 
  margin-top: 5px;
}

a.link-route{
  color: inherit;
  text-decoration: none;
}

 a.link-route:hover {
  text-decoration: none;
  color: inherit;
}

img.down-arw-verification:hover{ 
  position: relative; 
  top: 5px;
}

img.down-arw-swab:hover{ 
  position: relative; 
  top: 5px;
} 


li.swab-route {
  list-style-type: none;
  cursor: pointer;
}

li.verification-route {
  list-style-type: none;
  cursor: pointer;
}

.page-header{
  text-align:center;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 40px;
}

.page-title{
  text-align: center;
  padding: 20px;
}

.page-subtitle{
  font-weight: 200;
  width: 80%;
  margin: 0 auto;
}

/* .formStyle { 
  background-color: transparent;
  padding: 20px; 
  width: 60%;
  margin-bottom: 40px; 
  border-bottom-width: 1px; 
  border-bottom-style: solid; 
  border-bottom-color: #cce4cc; 
  border-top-style: none; 
  border-right-style: none; 
  border-left-style: none; 
  font-size: 1em;
  font-weight: 100;
  color: black;
}

#verification-form input {
  letter-spacing: 1px;
  padding: 10px;
} */

 .formStyle{
  min-width: 300px;
  width: 47%;
  padding: 7px 20px 7px 20px;
  border:none;
  outline:none;
  background:#f9f9f9;
  color: #282828;
  /* font-style:italic; */
  border-bottom:2px solid #cce4cc;
  border-radius: 8px;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom:22px; 
}

.formStyle:focus {
  background:#f0faf3;
  font-weight: 400;
}

.container{
  text-align: center;
}

.container h1{
  font-weight: 400;
  /* margin-bottom: 40px;
  margin-top: 110px; */
}

.submit-btn {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #b2d6b2;
}


button.submit-btn {
  margin: auto;
  padding: 13px;
  background-color: #7fbb7f;
  /* color: #141414; */
  color: white; 
  letter-spacing: .5px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
}

button.submit-btn:hover {
  background-color: #b2d6b2;
  color: #323232;
}

button.submit-btn:active {
  background-color: #cce4cc;
  outline: none;
}

.swab {
  padding: 70px;
  padding-bottom: 150px;
  text-align: center;
}

.swab-inst{
  text-align: left;
}


.important-warning {
  color: red;
  margin: 38px 0px 32px 10px;
}
