h5, h6 {
  margin: 0;
  padding: 0;
  display: inline;
}​

h5{
  display:inline;
}

 .eth-wallet {
  color: #009933;
}

.eth-amount {
  color: #009933;
} 

p{
  margin: 0px;
}

#contact p {
  padding: 10px;
  padding-bottom: 40px;
  font-size: 20px;
}

h1.donation-title {
  margin-top: 100px;
  margin-bottom: 28px;
}

h3 {
  margin-top: 50px;
}

h4{
  font-weight: 100;
  margin-bottom: 50px;
}

.container h1{
  margin-bottom: 20px;
}

 .field{
  min-width: 300px;
  width: 47%;
  padding: 7px 20px 7px 20px;
  border:none;
  outline:none;
  background:#f9f9f9;
  color: #282828;
  /* font-style:italic; */
  border-bottom:2px solid #cce4cc;
  border-radius: 8px;
  font-weight: 300;
  font-size: 16px;
  margin-bottom:22px; 
}

.field:focus {
  background:#f0faf3;
  font-weight: 400;
}

.submit-btn {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #b2d6b2;
}


button.submit-btn {
  margin: auto;
  padding: 13px;
  background-color: #7fbb7f;
  /* color: #141414; */
  color: white; 
  letter-spacing: .5px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
}

button.submit-btn:hover {
  background-color: #b2d6b2;
  color: #323232;
}

button.submit-btn:active {
  background-color: #cce4cc;
  outline: none;
}