.navbar {
  display: grid;
  grid-template-columns: 1 fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  height: 432px;
  /* border: 1px grey;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: none; */
}

.navbar button {
  text-align: center;
  cursor: pointer;
  color: #cccccc;
  background-color: #85BC8E;/* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  transition: font-weight .1s ease-in;
      display: block;
    font-size: 16px;
    margin: 4px 2px;
        transition-duration: 0.4s;
        border-radius: 8px;
}

.navbar button:hover {
  text-decoration: none;
  color: #cce4cc;
  box-shadow: 5px 5px 3px 0 rgba(0,0,0,0.24), 7px 7px 15px 0 rgba(0,0,0,0.19);
} 

.navbar button:focus {
  color: #cce4cc;
  outline: none;
  box-shadow: 5px 5px 3px 0 rgba(0,0,0,0.24), 7px 7px 15px 0 rgba(0,0,0,0.19);
} 
/* .navbar p.active{
  color: grey;
  font-weight: bold;
  text-decoration: none;
  /* background-color: #e7e7e7 !important; */

/* h2 {
  text-align: center;
  color: grey;
  font-weight: bold;
}

form {
  margin: 0px auto auto 25%;

} */

form input[type="submit"] {
	background: rgb(254,231,154);
	background: -moz-linear-gradient(top,  rgba(254,231,154,1) 0%, rgba(254,193,81,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	background: -o-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	background: -ms-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
  background: linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee79a', endColorstr='#fec151',GradientType=0 );
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-ms-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-o-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	border: 1px solid #D69E31;
	color: #85592e;
	cursor: pointer;
	float: left;
	font: bold 15px Helvetica, Arial, sans-serif;
	height: 35px;
	margin: 0 auto auto 33%;
	position: relative;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	width: 120px;
} 
form input[type="submit"]:hover {
	background: rgb(254,193,81);
	background: -moz-linear-gradient(top,  rgba(254,193,81,1) 0%, rgba(254,231,154,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: -o-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: -ms-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec151', endColorstr='#fee79a',GradientType=0 );
}
.userData {
  margin-top: 10px;
  height: 260px;
  width: 100%;
}

.userData table {
    width: 100%;
    height: 100%;
    border-spacing: 0;
}

.userData thead, .userData tbody, .userData tr, .userData th, .userData td { display: block; }

.userData thead tr {
    /* fallback */
    width: 97%;
    /* minus scroll bar width */
    width: -webkit-calc(100% - 16px);
    width:    -moz-calc(100% - 16px);
    width:         calc(100% - 16px);
}

.userData tr:after {  /* clearing float */
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.userData tbody {
    height: 85%;
    overflow-y: auto;
}

.walletId {
    width: 40%;  /* 19% is less than (100% / 5 cols) = 20% */
    float: left;
}

.age {
    width: 20%;  /* 19% is less than (100% / 5 cols) = 20% */
    float: left;
}

.email {
    width: 40%;  /* 19% is less than (100% / 5 cols) = 20% */
    float: left;
}

